.hamburger-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 0;
    background: none;
    cursor: pointer;
}
.hamburger-btn-bar {
    position: absolute;
    display: inline-block;
    width: 60%;
    height: 2px;
    border-radius: 1px;
    background-color: #333;
    transition: transform .3s ease-out;
}
.hamburger-btn-bar:nth-child(1) {
    transform: translateY(-9px);
}
.hamburger-btn-bar:nth-child(3) {
    transform: translateY(9px);
}

.hamburger-btn.active .hamburger-btn-bar:nth-child(1) {
    transform: rotate(45deg);
}
.hamburger-btn.active .hamburger-btn-bar:nth-child(2) {
    transform: scaleX(0);
}
.hamburger-btn.active .hamburger-btn-bar:nth-child(3) {
    transform: rotate(-45deg);
}
.header-nav-item {
    position: relative;
}
.header-submenu-list {
    position: absolute;
    display: none;
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}
.header-nav-item:hover .header-submenu-list {
    display: block;
    background: #333;
}
.header-submenu-item__link {
    display: block;
    padding: .25rem 1rem;
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .hamburger-btn {
        display: inline-flex;
    }
    .header-nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 35%;
        height: 100%;
        background-color: rgba(255 255 255 / 95%);
        transition: left .3s;
    }
    .hamburger-btn.active+.header-nav {
        left: 0;
    }
    .header-nav-list {
        display: block;
        padding-top: 2rem;
    }
    .header-nav-item__link::after {
        content: none;
    }
}
